<div class="comment reply">
    <p class="comment-info">By {{ comment.author }} on {{ comment.created_time }}</p>
    <div class="comment-body">
        <p class="comment-body">{{ reply.body }}</p>

        {% if reply.image %}
        <img src="{{ reply.image.url }}" alt="{{ reply.image.name }}" style="width: 50px;">
        {% endif %}
        {% if reply.file %}
        <a href="{{ reply.file.url }}">file.txt</a>
        {% endif %}
        {% if comment.replies.all %}

        <div class="replies">
            {% for reply in comment.replies.all %}
            {% include 'comments/comment.html' with comment=reply %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>