{% extends 'comments/base.html' %}
{% load my_tags %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.body }}
        {{ form.image }}
        {{ form.file }}
        {{ form.parent }}

        <button type="submit">Submit</button>
    </form>
    <button id="btn-tag-a">&lt;a href="" title=""&gt; &lt;\a&gt;</button>
    <button id="btn-tag-code" class="tags">&lt;code&gt; &lt;\code&gt;</button>
    <button id="btn-tag-i" class="tags">&lt;i&gt; &lt;\i&gt;</button>
    <button id="btn-tag-strong" class="tags">&lt;strong&gt &lt;\strong&gt;;</button>
</div>
{% endif %}

<form method="get">
    <label for="sort_by">Sort by:</label>
    <select id="sort_by" name="sort_by">
        <option value="-created_time">Date (newest first)</option>
        <option value="created_time">Date (oldest first)</option>
        <option value="author__username">Author name (A-Z)</option>
        <option value="-author__username">Author name (Z-A)</option>
        <option value="author__email">Author email (A-Z)</option>
        <option value="-author__email">Author email (Z-A)</option>
    </select>
    <button type="submit">Sort</button>
</form>

<div class="comments">
    {% for comment in object_list %}
    <div class="comment">
        <div class="comment-head">
            <img src="{% static 'comments/images/profile.png' %}" alt="Profile image" class="ava-comment">
            <p class="comment-info">{{ comment.author }} on {{ comment.created_time }}</p>
        </div>
        <div class="comment-body">

            {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="{{ comment.image.name }}" class="image-comment">
            {% endif %}
            {% if comment.file %}
            <a href="{{ comment.file.url }}">file.txt</a>
            {% endif %}
            <h3 class="comment-body">{{ comment.body }}</h3>
            <button class="button-reply" data-comment-id="{{ comment.pk }}">reply</button>

            {% if comment.replies.all %}
            <div class="replies">
                {% for reply in comment.replies.all %}
                {% include 'comments/comment.html' with comment=reply %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="pagination">

        {% if object_list.has_previous %}
            <a class="page-num" href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}



        {% for num in object_list.paginator.page_range %}
            {% if num == object_list.number %}
                <a class="page-selected" href="">{{ num }}</a>
            {% else %}
                <a class="page-num" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
            <a class="page-num" href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}

    </div>
</div>
{% endblock %}