div.comment {
    padding: 8px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #cccecd;
    color: black;
}
p.comment-info {
    margin: 0 0 0 4px;
    font-size: 12px;
}
p.comment-body {
    font-size: 18px;
    margin: 8px 0;
}
div.comment-body {
    padding-left: 12px;
}
.replies, .reply, .comment{
    border: solid 1px black;
}
.image-comment {
    style=width: 50px;
}
.replies {
     padding-left: 2px;
}